.btn{
    width: 150px;
    height: 150px;
    margin-left: 2rem;
    border-radius: 1.4rem;
}
#redBtn{
    background-color: red;
}
#yellowBtn{
    background-color: yellow;
}
#greenBtn{
    background-color: green;
}
.clearAll{
    margin: 1rem 3rem; 
}